---
import { db, searchFromDB } from "../lib/db.js";
import {
  timeToWaitBetweenCacheRefresh,
  timeToWaitBetweenAnimeRefresh,
} from "../../cfg.json";

const cacheLastUpdated = db.prepare("SELECT * FROM CacheLastUpdated").get();
---

<body>
  <a href="/">root</a>
  <a href="/api/newest.json">newest.json</a>
  <input type="text" placeholder="token value" id="token" />
  <button onclick="set()">set token</button>
</body>

<script is:inline>
  function set() {
    const token = document.getElementById("token").value;
    localStorage.setItem("vanadiumtokenrefreshbkup", token);
    document.cookie = `VanadiumToken=${token}; expires=Fri, 31 Dec 2100 23:59:59 GMT`;
    console.log("token set");
    // log
    console.log(document.cookie);
  }
</script>
