---
interface Props {
	name: string;
	src: string;
	id: number;
	hasEye: boolean;
	episode: string;
}
const { src, name, id, episode } = Astro.props;
import EyeOpen from "@astropub/icons/EyeOpen";
import EyeClosed from "@astropub/icons/EyeClosed";
---

<style>
	.item {
		width: 333px;
		height: 468px;
		background-color: white;
	}
	.item > .right {
		position: relative;
		top: -234px;
		text-wrap: wrap;
		text-align: center;
		display: flex;
		flex-direction: column;
		gap: 5px;
		opacity: 0;
		z-index: 2;
	}
	.item:hover > .left {
		filter: brightness(0.5);
	}
	.item:hover > .right {
		opacity: 1;
		filter: brightness(1);
		text-shadow:
			-1px -1px 0 var(--accent),
			1px -1px 0 var(--accent),
			-1px 1px 0 var(--accent),
			1px 1px 0 var(--accent);
	}
	a {
		color: white;
		text-decoration: none;
	}
	a:hover {
		text-decoration: underline;
	}

	.eye > .closed {
		display: block;
	}

	.eye > .open {
		display: none;
	}

	.eye:hover > .closed {
		display: none;
	}

	.eye:hover > .open {
		display: block;
	}
	@media (max-width: 768px) {
		.item > .right {
			top: -50%;
			opacity: 1;
		}
		.item > .left {
			filter: brightness(0.8);
		}
		.eye > .closed {
			display: none;
		}
		.eye > .open {
			display: block;
		}
	}
</style>

<div class="item">
	<div class="left">
		<img style="width:333px;height:468px;" src={src} alt={name} />
	</div>
	<div class="right">
		<h3><a href={"/anime" + id}>{name}</a></h3>
		{
			Astro.props.hasEye ? (
				<span>
					<a href={"/view" + episode} class="eye">
						<EyeClosed class="closed" size="32" color="var(--accent)" />
						<EyeOpen class="open" size="32" color="var(--accent)" />
					</a>
				</span>
			) : null
		}
	</div>
</div>
