---
import Search from "../components/Search.astro";
import AccountButton from "../components/AccountButton.astro";
---

<style is:global>
	:root {
		--accent: #ef4958;
		--header-bg: #0f1923;
	}
	* {
		font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	html,
	body {
		height: 100%;
		background-color: #000000;
	}
	main {
		padding: 0.5rem;
		background-color: #f5f5f5;
		min-height: calc(100vh - 4.21rem);
		display: flex;
		justify-content: center;
		/* align-items: center; */
		background-color: #000000;
	}
	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1rem;
		background-color: var(--header-bg);
		color: var(--accent);
	}
	h2 {
		cursor: pointer;
	}

	.left {
		display: flex;
		align-items: center;
	}

	.right {
		display: flex;
		align-items: center;
		gap: 5px;
	}

	@media (max-width: 600px) {
		header {
			flex-direction: column;
			gap: 1rem;
			/* sticky */
			position: fixed;
			top: 0;
			width: 100%;
			z-index: 1000;
		}
		.container {
			margin-top: 30%;
			height: 100%;
		}
	}
</style>

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{Astro.props.name} | Vanadium</title>
	</head>
	<body>
		<header>
			<div class="left">
				<h2><a href="/" style="color: var(--accent); text-decoration: none;">Vanadium</a></h2>
			</div>
			<div class="right">
				<Search />
				<AccountButton />
			</div>
		</header>
		<main>
			<slot />
		</main>
	</body>
</html>
